<div class="row">
  <div class="col-md-8">
    <h1>Label: <%= @label.name %></h1>
    <% @label.topics.each do |t| %>
      <div>
        Topic: <%= link_to t.name, t %>
      </div>
    <% end %>

    <% @label.posts.each do |p| %>
      <div>
        Post: <%= link_to p.title, topic_post_path(p.topic, p) %>
      </div>
    <% end %>

  </div>

</div>
